apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      scrape_timeout: 10s
      evaluation_interval: 15s

    scrape_configs:
    - job_name: 'prometheus'
      static_configs:
      - targets: ['localhost:9090']

    - job_name: 'kube-state-metrics'
      honor_timestamps: true
      metrics_path: /metrics
      scheme: http
      static_configs:
      - targets: ['kube-state-metrics.monitoring.svc.cluster.local:8080']
      metric_relabel_configs:
      - target_label: cluster
        replacement: observability-cluster

    - job_name: 'demo-go'
      metrics_path: /metrics
      scheme: http
      static_configs:
      - targets: ['demo-go.demo.svc.cluster.local:8080']